@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', system-ui, sans-serif;
    }
    @font-face {
        font-family: 'New Amsterdam';
        font-style: normal;
        font-weight: 400;
        src: url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap')
    }
}

@layer components {
    .btn-nav {
        @apply font-bold text-xl hover:text-lightblue;
    }

    .btn-nav-selected {
        @apply text-lightblue; 
    }

    .btn-info-window {
        @apply border-2 rounded text-sm font-bold w-full border-darkblue p-1 text-darkblue hover:bg-darkblue hover:text-white;
    }

    .btn-map-nav {
        @apply px-2 font-bold text-base hover:underline hover:underline-offset-4 text-darkblue;
    }

    .btn-map-nav-selected {
        @apply underline underline-offset-4 text-darkblue;
    }
}